@*https://localhost:7175/friends/create*@
<h1>Create friend</h1>
<form method="post" action="@Url.Action("Create", "Friends")">
@*    <label>Name:</label><br />
    <input type="text" name="name" value="Pepito" /><br />
    <label>Age: </label><br />
    <input type="number" name="age" value="33" /><br />
    <label>Email:</label><br />
    <input type="email" name="email" value="pepito@mail.loc" /><br />
    <label>Street: </label><br />
    <input type="text" name="address.street" value="Wall Street 55" /><br />
    <label>City:</label><br />
    <input type="text" name="address.city" value="New York" /><br />*@
    <hr />
    <input type="submit" value="Submit" />
</form>