html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.culture-tools {
    float: right;
    display: inline-block;
    text-transform: uppercase;
    font-size: 80%;
    display: block;
}

.culture-tools * {
    background-color: #222266;
    color: white;
    padding: 4px;
}

.culture-tools a {
    color: #222266;
    background-color: white;
}
